body {
    margin: 20px;
    font-family: Helvetica, Arial, sans-serif;
}

.avatar {
    width: 150px;
    border-radius:8px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #ece0d1;
    color: #2b2839;
    border-bottom: 6px solid #dbc1ac;
    border-radius: 8px;    
}

.border-blue {
    border: 1px dotted #dbc1ac;
}
